@font-face {
    font-family: 'Fonts';
    src: url(../Assets/Fonts/Far-From\ Homecoming\ Updated.otf);
}

@font-face {
    font-family: 'font';
    src: url(../Assets/Fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'fonti';
    src: url(../Assets/Fonts/Montserrat-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
}

.containerr {
    width: 80%;
    margin: 0 auto;
}

:root {
    --primary-ad-blue: #114C92;
    --primary-ad-black: #000000;
    --primary-ad-red: #B11313;
    --primary-ad-white: #FFFFFF;
}

ul {
    list-style-type: none;
}


/*La partie Design de la barre de navigation*/

nav {
    padding: 10px 0;
    background-color: var(--primary-ad-blue);
}

nav .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .brand {
    padding-left: 100px;
}

nav .brand img:nth-child(2) {
    padding-left: 15px;
    padding-bottom: 8px;
    padding-right: 15px;
}

nav .menu ul {
    display: flex;
    padding-right: 50px;
    align-items: center;
    justify-content: space-between;
}

nav .menu ul li {
    font-size: 20px;
    margin-left: 70px;
}

nav .menu ul li a {
    text-decoration: none;
    color: var(--primary-ad-white);
}


/*Title*/

#Héros {
    height: 650px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../Assets/Illustration/img19.png);
}

#Héros .titre {
    font-size: 6em;
    font-weight: 100;
    padding-left: 10vh;
    font-family: 'Fonts';
    color: var(--primary-ad-white);
}

#Héros .description {
    font-size: 1.4em;
    font-weight: bold;
    padding-left: 10vh;
    font-family: 'fonti';
    color: var(--primary-ad-white);
}

#Héros .box {
    position: relative;
    top: 37%;
}


/*Design de la partie valeur*/

#Valeurs {
    background-color: var(--primary-ad-blue);
}

#Valeurs .titre {
    font-family: "Fonts";
    padding-top: 5vh;
    color: var(--primary-ad-white);
}

#Valeurs .description {
    font-size: larger;
    padding-top: 2vh;
    font-weight: bold;
    font-family: "fonti";
    color: var(--primary-ad-white);
}

#Valeurs .contenu {
    font-size: small;
    padding-top: 2vh;
    font-family: "fonti";
    text-align: justify;
    color: var(--primary-ad-white);
}


/* Design fondations solides*/

#Fondations {
    height: 80vh;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../Assets/Illustration/img20.png);
}

#Fondations .titre {
    padding-left: 20vh;
    padding-top: 20vh;
    font-family: "Fonts";
    color: var(--primary-ad-white);
}

#Fondations .description {
    padding-top: 2vh;
    padding-left: 20vh;
    font-weight: bold;
    font-size: larger;
    font-family: "fonti";
    color: var(--primary-ad-white);
}


/* Design des Informations*/

#Informations {
    background-color: var(--primary-ad-blue);
}

#Informations .row {
    margin: 0 auto;
    padding-top: 8vh;
    padding-bottom: 8vh;
}

#Informations .contenu {
    font-size: smaller;
    padding-top: 2vh;
    font-family: "fonti";
    text-align: justify;
    color: var(--primary-ad-white);
}


/*Design jamais seul*/

#Jamais {
    background-color: var(--primary-ad-blue);
}

#Jamais .titre {
    padding-top: 5vh;
    padding-left: 5vh;
    font-family: "Fonts";
    color: var(--primary-ad-white);
}

#Jamais .description {
    font-size: larger;
    padding-top: 2vh;
    font-weight: bold;
    padding-left: 5vh;
    font-family: "fonti";
    color: var(--primary-ad-white);
}

#Jamais .row {
    margin: 0 auto;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

#Jamais .friend {
    padding-top: 4vh;
    padding-left: 5vh;
}

#Jamais figcaption {
    margin-top: -13vh;
    padding-left: 40vh;
}

#Jamais .contenu {
    font-size: smaller;
    padding-top: 4vh;
    font-family: "fonti";
    text-align: justify;
    color: var(--primary-ad-white);
}


/*Designe de la partie Filles*/

#Filles {
    background-color: var(--primary-ad-blue);
}

#Filles .row {
    display: flex;
}

#Filles .titre {
    padding-top: 5vh;
    padding-left: 5vh;
    font-family: "Fonts";
    color: var(--primary-ad-white);
}

#Filles .contenu {
    font-size: smaller;
    padding-top: 4vh;
    font-family: "fonti";
    text-align: justify;
    color: var(--primary-ad-white);
}

#Filles .first {
    padding-top: 18vh;
    padding-left: 8vh;
}

#Filles figcaption .second {
    margin-top: -33vh;
    padding-left: 50vh;
}

#Filles figcaption .third {
    padding-left: 28vh;
    margin-bottom: 20vh;
}


/* Design les avengers*/

#Avengers {
    background-color: var(--primary-ad-red);
}

#Avengers .red {
    display: flex;
}

#Avengers .titre {
    padding-top: 5vh;
    padding-left: 5vh;
    font-family: "Fonts";
    color: var(--primary-ad-white);
}

#Avengers .contenu {
    padding-top: 3vh;
    padding-right: 2vh;
    font-size: smaller;
    font-family: "fonti";
    text-align: justify;
    color: var(--primary-ad-white);
}

#Avengers .col-5 {
    margin-left: 5vh;
    display: flexbox;
}

#Avengers .photo {
    width: 80%;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

#Avengers .col-7 {
    margin-right: -5vh;
    padding-bottom: 0;
    justify-content: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../Assets/Illustration/img32.png);
}


/* Design Univers*/

#Univers {
    margin-right: -5vh;
    justify-content: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../Assets/Illustration/img33.png);
}

#Univers .containerbox {
    background-color: #114b92a0;
    justify-content: right;
    width: 40%;
    height: 100%;
    margin-left: 110vh;
    padding-bottom: 15vh;
}

#Univers .titre {
    padding-top: 10vh;
    padding-left: 5vh;
    font-family: "Fonts";
    color: var(--primary-ad-white);
}

#Univers .description {
    font-size: larger;
    padding-top: 2vh;
    font-weight: bold;
    padding-left: 42vh;
    font-family: "fonti";
    color: var(--primary-ad-white);
}

#Univers .contenu {
    padding-top: 3vh;
    padding-right: 3vh;
    padding-left: 3vh;
    font-size: medium;
    font-family: "fonti";
    text-align: justify;
    padding-bottom: 10vh;
    color: var(--primary-ad-white);
}


/*Design de la partie footer*/

footer {
    padding: 20px 0;
    background-color: var(--primary-ad-black);
}

.footer {
    font-size: 12px;
    text-align: center;
    color: var(--primary-ad-white);
}

.nav-footer {
    padding: 2em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-footer .list1,
.nav-footer .list2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-footer li {
    padding: 20px;
}

.nav-footer li a {
    font-size: small;
    font-family: "fonti";
    text-decoration: none;
    color: var(--primary-ad-white);
}

.nav-footer .list2 .formselect {
    width: 150px;
    border: none;
    padding: 3px 15px;
    border-radius: 50px;
    color: var(--primary-ad-white);
    background-color: var(--primary-ad-blue);
}

.footer .media img {
    padding: 5px;
    border-radius: 50%;
    color: var(--primary-ad-white);
    background-color: var(--primary-ad-blue);
}

.footer .media {
    padding: 15px;
    margin-bottom: 10px;
}