        /*CSS code*/
        /*Basic code*/
        
         :root {
            color: #B11313;
            color: #F1C530;
            color: #114C92;
            color: #000000;
            color: #FFFFFF;
        }
        
        @font-face {
            font-family: 'Fonts';
            src: url(../Assets/Fonts/Far-From\ Homecoming\ Updated.otf);
        }
        
        @font-face {
            font-family: 'font';
            src: url(../Assets/Fonts/Montserrat-Italic-VariableFont_wght.ttf);
        }
        
        @font-face {
            font-family: 'fonti';
            src: url(../Assets/Fonts/Montserrat-VariableFont_wght.ttf);
        }
        
        body {
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: #FFFFFF;
        }
        /* CSS de ABOUT*/
        /*header*/
        
        a {
            color: #FFFFFF;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            padding-left: 10vh;
            padding-right: 5vh;
            padding-bottom: -4vh;
        }
        
        #headerabout {
            background-color: #B11313;
            padding: 2vh;
        }
        
        #headerabout {
            display: inline-flex;
        }
        
        #headerabout .Sayna {
            font-size: 15vh;
            margin: 0;
            padding-left: 20vh;
            line-height: 1;
            font-weight: 100;
        }
        
        #headerabout .X {
            font-size: 15vh;
            margin: 0;
            padding-left: 4vh;
            line-height: 1;
            font-weight: 100;
        }
        
        #headerabout .Marvel {
            font-size: 15vh;
            margin: 0;
            padding-left: 4vh;
            line-height: 1;
            font-weight: 100;
        }
        /*Nav menu*/
        
        .nav-menu ul {
            margin: 0;
            padding-right: 20vh;
            list-style: none;
        }
        
        .nav-menu>ul {
            display: flex;
        }
        
        .nav-menu>ul>li {
            position: relative;
            white-space: nowrap;
            padding-top: 2vh;
            padding-left: 1vh;
        }
        /*Section La toile*/
        
        #Toile {
            width: 100%;
            background-color: #F1C530;
        }
        
        .spideryellow {
            padding-top: 10vh;
            float: right;
            width: 50vw;
            height: 50vw;
        }
        
        .spideryellow_container {
            padding-right: 0;
        }
        
        h1 {
            color: #FFFFFF;
            padding-top: 20vw;
            font-size: 80px;
            font-family: 'Fonts';
        }
        
        p {
            color: #FFFFFF;
            padding-top: 2vw;
            text-align: justify;
        }
        /*Section Antenne*/
        
        #Antenne {
            padding-top: 15vh;
            padding-bottom: 15vh;
            background-color: #B11313;
            padding-left: 15vh;
        }
        
        .col-6 {
            padding-left: 15vh;
        }
        
        h2 {
            padding-top: 5vh;
            font-family: 'Fonts';
        }
        
        #Antenne>.contact {
            padding-bottom: 10vw;
            padding-left: 10vw;
        }
        
        #Antenne>button {
            display: block;
            padding-top: 60vh;
        }
        /*Section Marvel*/
        
        #Marvel {
            padding-top: 5vh;
            padding-bottom: 15vh;
            background-color: #114C92;
            padding-left: 15vh;
        }
        
        .border-light {
            background-color: #114C92;
            border-radius: 18px;
            color: #FFFFFF;
            padding: 2vh 8vh;
            margin-left: 10vh;
        }
        /*Section Footer*/
        
        #Footerabout {
            background-color: #000000;
            padding-top: 5vh;
            padding-bottom: 10vh;
        }
        
        #Footerabout>a {
            font-size: medium;
            padding-left: 4vh;
            padding-top: 5vh;
        }
        
        #dropdownMenuButton1 {
            background-color: #B11313;
            color: #FFFFFF;
            border-radius: 20px;
            width: 100;
            border-color: #B11313;
            padding-left: 5vh;
            padding-right: 5vh;
        }
        
        .logofooterabout {
            background-color: #B11313;
            border-radius: 100%;
            padding: 1vh;
            text-align: center;
            margin-top: 10vh;
            margin-left: 2vh;
        }
        /* CSS ADVERSAIRE*/
        /*headeradversaire*/
        
        #Vilains {
            background-image: url(../Assets/Illustration/img7.png);
            width: 100;
            margin: 0;
            background-repeat: no-repeat;
        }
        
        #headeradversaire {
            background-color: #F1C530;
            padding: 2vh;
        }
        
        #headeradversaire {
            display: inline-flex;
        }
        
        #headeradversaire .Sayna {
            font-size: 15vh;
            margin: 0;
            padding-left: 20vh;
            line-height: 1;
            font-weight: 100;
        }
        
        #headeradversaire .X {
            font-size: 15vh;
            margin: 0;
            padding-left: 4vh;
            line-height: 1;
            font-weight: 100;
        }
        
        #headeradversaire .Marvel {
            font-size: 15vh;
            margin: 0;
            padding-left: 4vh;
            line-height: 1;
            font-weight: 100;
        }
        /*Nav menu*/
        
        .nav-menu ul {
            margin: 0;
            padding-right: 20vh;
            list-style: none;
        }
        
        .nav-menu>ul {
            display: flex;
        }
        
        .nav-menu>ul>li {
            position: relative;
            white-space: nowrap;
            padding-top: 2vh;
            padding-left: 1vh;
        }
        
        #Vilains>h1 {
            padding-top: 60vh;
            padding-left: 10vh;
        }
        
        #Vilains>p {
            padding-bottom: 25vh;
            padding-left: 10vh;
        }
        
        #containeryellow {
            background-color: #F1C530;
            margin-top: -16vh;
        }
        
        .col {
            padding: 5vh;
            margin-left: 12vh;
        }
        
        .card-img-top {
            width: 80;
        }
        
        .card-body {
            border-radius: 0 0 50px 50px;
            border-color: #000000;
            color: #000000;
            padding-left: 2vh;
            box-shadow: #000000;
            margin-bottom: 2vh;
            padding-top: 2vh;
            background-color: #F1C530;
        }
        
        .card-text {
            color: #000000;
            text-align: left;
        }
        /*Section Footer*/
        
        #Footeradversaire {
            background-color: #000000;
            padding-top: 20vh;
            padding-bottom: 10vh;
        }
        
        #Footeradversaire>a {
            font-size: medium;
            padding-left: 4vh;
            padding-top: 5vh;
        }
        
        #dropdownMenuButton2 {
            background-color: #F1C530;
            color: #FFFFFF;
            border-radius: 20px;
            width: 100;
            border-color: #F1C530;
            padding-left: 5vh;
            padding-right: 5vh;
        }
        
        .logofooteradversaire {
            background-color: #F1C530;
            border-radius: 100%;
            padding: 1vh;
            text-align: center;
            margin-top: 10vh;
            margin-left: 2vh;
        }
        /* CSS BONUS*/
        
        #Bonus {
            background-image: url(../Assets/Illustration/img35.png);
            width: 100%;
            margin: 0;
        }
        
        #headerbonus {
            background-color: #B11313;
            padding: 2vh;
        }
        
        #headerbonus {
            display: inline-flex;
        }
        
        #headerbonus .Sayna {
            font-size: 15vh;
            margin: 0;
            padding-left: 20vh;
            line-height: 1;
            font-weight: 100;
        }
        
        #headerbonus .X {
            font-size: 15vh;
            margin: 0;
            padding-left: 4vh;
            line-height: 1;
            font-weight: 100;
        }
        
        #headerbonus .Marvel {
            font-size: 15vh;
            margin: 0;
            padding-left: 4vh;
            line-height: 1;
            font-weight: 100;
        }
        /*Nav menu*/
        
        .nav-menu ul {
            margin: 0;
            padding-right: 20vh;
            list-style: none;
        }
        
        .nav-menu>ul {
            display: flex;
        }
        
        .nav-menu>ul>li {
            position: relative;
            white-space: nowrap;
            padding-top: 2vh;
            padding-left: 1vh;
        }
        
        #Bonus>h1 {
            padding-top: 80vh;
            padding-left: 10vh;
        }
        
        #Bonus>p {
            padding-bottom: 15vh;
            padding-left: 10vh;
        }
        
        #Footerbonus {
            padding-top: 5vh;
            padding-bottom: 10vh;
            background-color: #000000;
            margin-top: -10vh;
        }
        
        #Footerbonus>a {
            font-size: medium;
            padding-left: 4vh;
            padding-top: 5vh;
        }
        
        #dropdownMenuButton1 {
            background-color: #B11313;
            color: #FFFFFF;
            border-radius: 20px;
            width: 100;
            border-color: #B11313;
            padding-left: 5vh;
            padding-right: 5vh;
        }
        
        .logofooterbonus {
            background-color: #B11313;
            border-radius: 100%;
            padding: 1vh;
            text-align: center;
            margin-top: 10vh;
            margin-left: 2vh;
        }
        /* CSS HEROS*/
        
        #Héros {
            background-image: url(../Assets/Illustration/img19.png);
            width: 100;
            margin: 0;
            background-repeat: no-repeat;
        }
        
        #headerheros {
            background-color: #114C92;
            padding: 2vh;
        }
        
        #headerheros {
            display: inline-flex;
        }
        
        #headerheros .Sayna {
            font-size: 15vh;
            margin: 0;
            padding-left: 20vh;
            line-height: 1;
            font-weight: 100;
        }
        
        #headerheros .X {
            font-size: 15vh;
            margin: 0;
            padding-left: 4vh;
            line-height: 1;
            font-weight: 100;
        }
        
        #headerheros .Marvel {
            font-size: 15vh;
            margin: 0;
            padding-left: 4vh;
            line-height: 1;
            font-weight: 100;
        }
        /*Nav menu*/
        
        .nav-menu ul {
            margin: 0;
            padding-right: 20vh;
            list-style: none;
        }
        
        .nav-menu>ul {
            display: flex;
        }
        
        .nav-menu>ul>li {
            position: relative;
            white-space: nowrap;
            padding-top: 2vh;
            padding-left: 1vh;
        }
        
        #Héros>h1 {
            padding-top: 40vh;
            padding-left: 15vh;
        }
        
        #Héros>p {
            padding-bottom: 15vh;
            padding-left: 15vh;
        }
        
        #Footerheros {
            background-color: #000000;
            padding-top: 20vh;
            padding-bottom: 10vh;
        }
        
        #Footerheros>a {
            font-size: medium;
            padding-left: 4vh;
            padding-top: 5vh;
        }
        
        #dropdownMenuButton3 {
            background-color: #114C92;
            color: #FFFFFF;
            border-radius: 20px;
            width: 100;
            border-color: #114C92;
            padding-left: 5vh;
            padding-right: 5vh;
        }
        
        .logofooterheros {
            background-color: #114C92;
            border-radius: 100%;
            padding: 1vh;
            text-align: center;
            margin-top: 10vh;
            margin-left: 2vh;
        }
        /* CSS HOME*/
        
        #SPIDERMAN {
            background-image: url(../Assets/Illustration/img1.png);
            width: 100%;
            padding-left: 10vh;
        }
        
        #headerhome {
            background-color: #B11313;
            padding: 2vh;
        }
        
        #headerhome {
            display: inline-flex;
        }
        
        #headerhome .Sayna {
            font-size: 15vh;
            margin: 0;
            padding-left: 20vh;
            line-height: 1;
            font-weight: 100;
        }
        
        #headerhome .X {
            font-size: 15vh;
            margin: 0;
            padding-left: 4vh;
            line-height: 1;
            font-weight: 100;
        }
        
        #headerhome .Marvel {
            font-size: 15vh;
            margin: 0;
            padding-left: 4vh;
            line-height: 1;
            font-weight: 100;
        }
        /*Nav menu*/
        
        .nav-menu ul {
            margin: 0;
            padding-right: 20vh;
            list-style: none;
        }
        
        .nav-menu>ul {
            display: flex;
        }
        
        .nav-menu>ul>li {
            position: relative;
            white-space: nowrap;
            padding-top: 2vh;
            padding-left: 1vh;
        }
        
        .buttonwhite {
            color: #B11313;
            background-color: #FFFFFF;
            margin-top: 10vh;
            border-radius: 15px;
            padding: 1vh;
            margin-bottom: 4vh;
            border: none;
        }
        
        .buttonred {
            color: #FFFFFF;
            background-color: #b1131303;
            border-color: #FFFFFF;
            margin-top: 10vh;
            border-radius: 15px;
            padding: 1vh;
            margin-bottom: 4vh;
        }
        
        #SPIDERMAN>h1 {
            padding-top: 50vh;
            margin-left: 10vh;
        }
        
        h4 {
            padding-bottom: 30vh;
        }
        
        #spiders {
            background-color: rgb(187, 18, 18);
            margin-top: -7vh;
        }
        
        #spiders>h2 {
            margin-left: 10vh;
        }
        
        #spiders>p {
            padding-bottom: 10vh;
            margin-left: 10vh;
        }
        
        #spiderblue {
            background-color: #114C92;
            padding-bottom: 11vh;
        }
        
        #spiderblue>img {
            margin-left: -20vh;
            padding-bottom: 0;
        }
        
        .buttonwhiteblue {
            color: rgb(4, 4, 54);
            background-color: #FFFFFF;
            border-radius: 15px;
            padding-bottom: 1vh;
            padding-right: 50vh;
            margin-bottom: 1vh;
            border-color: #000000;
            width: 100px;
            margin-left: 4vh;
        }
        
        .buttonredblue {
            color: #FFFFFF;
            background-color: #b1131303;
            border-color: #FFFFFF;
            margin-top: 10vh;
            border-radius: 15px;
            padding: 2vh;
            padding-left: 8vh;
            padding-right: 8vh;
            margin-bottom: 4vh;
            margin-left: 17vh;
        }
        
        #spiderred {
            background-color: #B11313;
            padding-bottom: 11vh;
        }
        
        #spiderred>img {
            margin: 0 auto;
            padding-right: 2vh;
        }
        
        #Footerhome {
            background-color: #000000;
            padding-top: 20vh;
            padding-bottom: 10vh;
        }
        
        #Footerhome>a {
            font-size: medium;
            padding-left: 4vh;
            padding-top: 5vh;
        }
        
        #dropdownMenuButton1 {
            background-color: #B11313;
            color: #FFFFFF;
            border-radius: 20px;
            width: 100;
            border-color: #B11313;
            padding-left: 5vh;
            padding-right: 5vh;
        }
        
        .logofooterhome {
            background-color: #B11313;
            border-radius: 100%;
            padding: 1vh;
            text-align: center;
            margin-top: 10vh;
            margin-left: 2vh;
        }